<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead('Create an account')"></head>
<body>

    <nav th:include="partials/navbar :: navbar"></nav>
    <h1>Register Page</h1>

    <main>
        <div th:if="${!param.isEmpty()}">
            <div>
                <div class="errorMsg" th:if="${param.username}">
                    <i class="material-icons">error</i>Username already exists
                </div>
            </div>
        </div>

        <div class="row">
            <form class="col s12" th:action="@{/register}" th:method="POST" th:object="${user}">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" name="username" type="text" class="validate" th:field="*{username}">
                        <label for="first_name">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" class="validate" th:field="*{password}">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="cpass" type="password" name="cpass" class="validate">
                        <label for="cpass">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate" th:field="*{email}">
                        <label for="email">Email</label>
                    </div>
                </div>
                <button class="btn wave-effect waves-light">Submit</button>
            </form>
        </div>
    </main>

    <div th:replace="partials/materializeScripts :: scripts"></div>

</body>
</html>