<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead('Post partial')"></head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>

    <div class="flexSet">
        <h1 th:text="${post.title}"></h1>
        <h5 th:text="${timeFormat.timeFormat(post.createdAt)}"></h5>
        <div class="categories">
            <div th:each="category : ${post.categories}">
                <p th:text="${category.name}"></p>
            </div>
        </div>
        <div class="postPartialContent">
            <p th:text="${post.content}"></p>
        </div>
        <form th:method="GET" th:action="@{/finish/{id}(id=${post.id})}">
            <button class="btn wave-effect">Finish Post</button>
        </form>
    </div>

</main>



<div th:replace="partials/materializeScripts :: scripts"></div>

</body>
</html>