<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead('Login Page')"></head>
<body>

    <nav th:replace="partials/navbar :: navbar"></nav>

<main id="login-page-body">
    <div th:if="${!param.isEmpty()}">
        <div>
            <div class="errorMsg" th:if="${param.logout}">
                <i class="material-icons">error</i>You have been logged out.
            </div>
            <div class="errorMsg" th:if="${param.error}">
                <i class="material-icons">error</i>Username or password does not exist, you may need to activate your account.
            </div>
            <div class="errorMsg" th:if="${param.activated}">
                <i class="material-icons">error</i>Your account has been activated
            </div>
            <div class="errorMsg" th:if="${param.activationIssue}">
                <i class="material-icons">error</i>There was an issue activating your account
            </div>
        </div>
    </div>

    <section id="formArea">
        <div id="login-in-side">
            <form class="formContainer" id="login-in-form" th:action="@{/login}" th:method="POST">
                <div class="row flexSet login-div">
                    <div class="input-field col s10 m8 mAuto">
                        <input id="username" name="username" type="text" class="validate login-input">
                        <label class="login-label" for="username">Username</label>
                    </div>
                </div>
                <div class="row flexSet login-div">
                    <div class="input-field col s10 m8 mAuto">
                        <input id="password" type="password" name="password" class="validate login-input">
                        <label class="login-label" for="password">Password</label>
                    </div>
                </div>
                <button class="btn wave-effect waves-light">Login</button>
            </form>
        </div>
        <div id="register-side">
            <h2>Not a Member?</h2>
            <p>Create an account to like and follow posts, get updates on new posts</p>
            <button class="btn wave-effect waves-light"><a href="/register">Register</a></button>
        </div>
    </section>
</main>

    <div th:replace="partials/materializeScripts :: scripts"></div>

</body>
</html>