<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead('Your Profile')"></head>
<body>

    <nav th:replace="partials/navbar :: navbar"></nav>
    <h1>Profile page</h1>
    <h2 th:text="${session.user.username}"></h2>
    <p th:text="${session.user.email}"></p>

    <h1>Posts you like are below</h1>
    <div class="postLikes" th:if="${session.userLikes.size() > 0}" th:each="post : ${session.userLikes}">
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.content.substring(0, 75)}"></p>
        <button class="btn wave-effect"><a th:href="@{/posts/{id}(id=${post.id})}">View More</a></button>
        <form th:method="POST" th:action="@{/dislike/{id}(id=${post.id})}">
            <button class="btn wave-effect">Dislike</button>
        </form>
    </div>

    <div th:replace="partials/materializeScripts :: scripts"></div>

</body>
</html>