<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead('Main Page')"></head>
<body>

    <nav th:replace="partials/navbar :: navbar"></nav>


    <main>
        <h1>Border Blog Title</h1>
        <h6>Quick Little Sub title</h6>
    </main>

    <div class="footer-basic">
        <footer th:replace="partials/footer :: footer"></footer>
    </div>

    <div th:replace="partials/materializeScripts :: scripts"></div>

<script>
    window.onload = () => {
        console.log("loaded");
    }
</script>

</body>
</html>