* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 70%;
}
body{
    background-color: #9FD983;
    color: #FEFED3;
}
button:hover{
    cursor: pointer;
}
.pendingComment{
    color: #024064;
}

/*Logout Button*/
.logoutForm{
    height: 64px;
}
.logoutFormButton{
    border: none;
    background: none;
    color: #FDFFFC;
    height: 100%;
    width: 100%;
    margin-left: -21px;
    font-size: 1.3rem;
}


/*NAV BAR*/
#nav-main-top {
    height: 1%;
    width: 100%;
    display: flex;
}
#nav-main-logo {
    width: 58%;
    height: 100%;
    text-align: center;
}
#social-links {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
#nav-mobile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 600px){
    .logoutFormButton{
        margin-left: 0;
    }
    #nav-main-top {
        height: 53%;
    }
}


