/*Posts*/
.postsContainer{

}

.approveAndDeleteContainer{
    display: flex;
}

/*Comments*/
.commentsArea{
    max-width: 80%;
    margin: auto
}
.commentForm{
    background: #FEFED3;
    border-radius: 5px;
}
